In [1]:
import numpy as np
import pandas as pd

In [2]:
#loading training data
df = pd.read_csv("Training_Data.csv")

In [3]:
df.head()

,Unnamed: 0,FarmerCropId,pixel,0,20,40,60,80,100,120,140,160,180,Class
0,0,Forest_11,P_1248,0.688329,0.329046,0.594767,0.541278,0.273226,0.395824,0.502067,0.431720,0.297808,0.274005,Forest
1,1,Forest_8,P_4942,0.762895,0.315333,0.641736,0.639904,0.572348,0.514314,0.639383,0.588162,0.453102,0.370456,Forest
2,2,Urban_21,P_2341,0.110929,0.077010,0.075400,0.056988,0.065011,0.076522,0.114804,0.076841,0.120840,0.070926,Urban
3,3,Forest_0,P_1902,0.693700,0.264101,0.501765,0.515265,0.371811,0.322581,0.487982,0.480932,0.436844,0.374766,Forest
4,4,Urban_14,P_261,0.112433,0.049106,0.026482,0.049207,0.049906,0.097688,0.134807,0.102053,0.141696,0.089413,Urban

In [4]:
# droping unnamed column
df.drop(["Unnamed: 0"], axis =1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17833 entries, 0 to 17832
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FarmerCropId  17833 non-null  object
 1   pixel         17833 non-null  object
 2   0             17510 non-null  float64
 3   20            17510 non-null  float64
 4   40            17510 non-null  float64
 5   60            17494 non-null  float64
 6   80            17478 non-null  float64
 7   100           17510 non-null  float64
 8   120           17494 non-null  float64
 9   140           17510 non-null  float64
 10  160           17510 non-null  float64
 11  180           17501 non-null  float64
 12  Class         17833 non-null  object
dtypes: float64(10), object(3)
memory usage: 1.8+ MB

In [6]:
# to find unique values in farmercropid column
df.dropna(inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17130 entries, 0 to 17832
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FarmerCropId  17130 non-null  object
 1   pixel         17130 non-null  object
 2   0             17130 non-null  float64
 3   20            17130 non-null  float64
 4   40            17130 non-null  float64
 5   60            17130 non-null  float64
 6   80            17130 non-null  float64
 7   100           17130 non-null  float64
 8   120           17130 non-null  float64
 9   140           17130 non-null  float64
 10  160           17130 non-null  float64
 11  180           17130 non-null  float64
 12  Class         17130 non-null  object
dtypes: float64(10), object(3)
memory usage: 1.8+ MB

In [8]:
# defining x and y for training
x = df.drop(["FarmerCropId", "pixel", "Class"], axis = 1)
y = df["Class"]

In [9]:
# diving the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(x,y,random_state = 20,test_size = 0.25)

In [10]:
# check the shape of training and test datasets
x_train.shape, y_train.shape

((12847, 10), (12847,))

In [11]:
x_test.shape, y_test.shape

((4283, 10), (4283,))

In [12]:
#training the data with decisiontreeclassifier
from sklearn.tree import DecisionTreeClassifier

In [13]:
tree = DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [14]:
# predicting the y values using classifier
y_train_pred = tree.predict(x_train)
y_test_pred = tree.predict(x_test)

In [15]:
# to check the model performance
from sklearn.metrics import classification_report, confusion_matrix
print("Classification report for training data")
print(classification_report(y_train, y_train_pred))
print("Classification report for test data")
print(classification_report(y_test, y_test_pred))
print("Confusion matrix for test data")
print(confusion_matrix(y_test,y_test_pred))

Classification report for training data
              precision    recall  f1-score   support

      Barren       1.00      1.00      1.00       116
      Forest       1.00      1.00      1.00      6942
       Urban       1.00      1.00      1.00      5415
       Water       1.00      1.00      1.00       374

    accuracy                           1.00     12847
   macro avg       1.00      1.00      1.00     12847
weighted avg       1.00      1.00      1.00     12847

Classification report for test data
              precision    recall  f1-score   support

      Barren       0.69      0.83      0.75        35
      Forest       1.00      1.00      1.00      2328
       Urban       0.99      0.99      0.99      1779
       Water       0.94      0.95      0.95       141

    accuracy                           0.99      4283
   macro avg       0.91      0.94      0.92      4283
weighted avg       0.99      0.99      0.99      4283

Confusion matrix for test data
[[  29    0    6    0]
 [   0 2325    3    0]
 [  13    1 1757    8]
 [   0    0    7  134]]

In [16]:
import pickle

In [17]:
# saving the model to pickle file
filename = 'model.pkl'
pickle.dump(tree, open(filename, 'wb'))